/*  공통 작업 */

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style : normal;
    font-size : 1.2rem;
}
.container {
    background-image: url("../image/main.png");
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: grid;
    flex-direction: column;
    height: 100%;
    grid-template-columns: 180px 1fr;
}
.icon {
    background-image: url("../image/209_2-1.png");
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.folder {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 180px;
    background-color: white;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
}
.folder_header {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.folder_header_otter4 {
    background-image: url("../image/otter_face_end.png");
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.folder_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #4A6B74;
    padding: 0 20px;
    margin-bottom: 3px;
}
.folder_title_circle{
    background-image: url("../image/window_color.png");
    background-size : cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;

}
.folder_title_x{
    text-align: end;
}
.folder_back {
    display: grid;
    grid-template-columns: 10px 1fr;
    background-color: gray;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 3px;
}
.folder_back_square {
    background-color : white;
    margin: 5px;
}
.X_btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color : white;
    margin-top: 4px;
}
.back_btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color : white;
    margin-top: 4px;
}



/*  본인 작업 시작 */

.folder_main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    padding: 25px 50px;
}

.calendar {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #4A6B74;
    width: 600px;
    height: 315px;
}

.memo {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #4A6B74;
    width: 600px;
    height: 315px;
}
.memo > h2 {
    color: #fff;
    font-size: 2rem;
    margin-left: 5%;
}

.memo-board {
    background-color: #fff;
    margin-left: 5%;
    height: 75%;
    width: 90%;
}

.text-button {
    position: relative;
}

.memo-text {
    background-color: #4A6B74;
    border: none;
    border-radius: 10px;
    width: 95%;
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;
}

.memo-textarea {
    width: 100%;
    height: 80%;
    color: #4A6B74;
}

input:focus {
    outline: none;
}

.sudal-button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    height: 50px;
    position: absolute;
    margin-left: -6%;
    margin-top: -1.5%;
    cursor: pointer;
}

.sudal-head {
    width: 50px;
    height: 50px;
}

.insert-list {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #4A6B74;
    width: 777px;
    height: 680px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > button {
    background-color: #4A6B74;
    border: 1px solid white;
    color: white;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    margin-top: 12px;
    margin-right: 5%;
    box-shadow: 5px 5px 5px black;
}
.header > button:active {
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
}
.todaylist{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-size: 1.8rem;
}
.list{
    padding-left: 20px;
    padding-top: 25px;
    display: flex;
    align-items: center;
}
.text_box{
    width: 650px;
    color: #4A6B74;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 10px;
    margin-left: 10px;
    pointer-events: none;
}
.input_list[type="checkbox"]{
    display: none;
  }
.input_list[type="checkbox"] + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    border:3px solid #fff;
    position: relative;
  }
.input_list:checked + label::after{
    content:'✔';
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: -4px;
    top:-6px;
    color: #fff;
}
.input_list:checked ~ .text_box {
    text-decoration: line-through;
    text-decoration-color: #4A6B74;
}
.main-bottom {
    margin-top: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.main-bottom > a {
    text-decoration: none;
    color : #fff;
    font-size: 1.5rem; 
    text-align: center;
    margin: 5px;
    padding-left: 10px;
}