@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image:url(../image/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}   
.main{
   text-align: center;
}
h1{
    font-size: 6rem;
    color: white;
}
input{
    display: inline-block; 
    width: 354px;
    height: 40px;
    border-radius: 20px;
    font-size: 2.5rem;
    padding-left: 10px;
}
.float{
    display: inline-block;
    position: relative;
}
a{
    display: inline-block;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #B68AFF;
    text-decoration: none;
    padding-top: 3px;
    font-size: 2rem;
}
input, a {
    vertical-align: middle; 
    line-height: 30px;
    border: none;
}
input:focus{
    outline: none;
}
.float input {
    position: relative;
    z-index: 1;
    padding-right: 30px;
}
.float a {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; 
    display: block;
    height: 100%;
    line-height: 30px;
}